body {
	margin: 0;
	font-size: 14px;
	color:#fff;
	background-color: black;
}

*,
*:before,
*:after{
	box-sizing:border-box;
}

.h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
li {
    list-style-type: none; /* Убираем маркеры */
	padding: 10px 0;
	font-size: 18px;
}

.container{
	width:100%;
	max-width:1270px;
	margin: 0 auto;
	padding: 0px 15px;
	
}
.contant{
	background: url(../Icon/fon3.jpg) center no-repeat;
	background-size: cover;
}

.modal-content{
	display: block;
	position: fixed;
	top: 0;
	left: 100%;
	width: 550px;
	height: 546px;	
	margin: 150px 474px 150px 474px;
}
.modal__intro{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	font-size: 22px;
	border-bottom: 1px solid #111111;
	position: absolute;
	left: 0;
	top: 0;
}
.modal-content._active{
	left: 0;
}

img {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
 }
/* Headers============================================================================= */

.headers{
	border-bottom: 1px solid #111111;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}	

.header__inner{
	display:flex;
	align-items: center;
	justify-content:space-between;
	padding:15px 0;
}

.nav{
	font-size: 15px;
	font-weight: 700;
	display: flex;
}

.nav__link {
	color:#fff;
	margin-left: 30px;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0.75;
	position: relative;
	transition: opacity .2s linear;
	padding: 6px 0;
	
}
.nav__link:hover {
	opacity: 1;
}

.nav__link:after{
	content: "";
	height: 2px;
	background-color: #fff;
	top: 100%;
	opacity: 0;
	transition: opacity .2s linear;
	
	display: block;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
	-o---transition:width .3s ease-in-out;
    transition: width .3s ease-in-out;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
    transform: translateX(-50%);
	
}

.nav__link:hover:after{
	opacity: 1;
}

.nav__link:hover:after,
.nav__link:focus:after {
    width: 100%;
}
/* Intro================================================================= */

.intro{
	display: flex;
	flex-direction: column;
	height: 790px;
	justify-content: center;
	background: url(../Icon/lines.png) center no-repeat;
	background-size: cover;
	border-bottom: 1px solid #111111;
}
.intro__inner{
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	
}
.intro__icon{
	float: right;	
	width: 550px;
	height: 580px;
}

.intro__text{
	font-size: 38px;
	color: white;
	line-height: 1.7;	
	margin-bottom: 60px;
}

.intro__item{
	width: 50%;
	padding: 40px 0;
	vertical-align: auto;
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro__shell{
	
	display: flex;
	flex-wrap: wrap;

	
}
.intro__button{
	width: 225.33px;
	height: 41px;
	display: inline-flex;
	vertical-align: top;
	font-size: 15px;
	border: 0;
	cursor: pointer;
	border-radius: 3px;
	font-family: inherit;
	text-decoration: none;
	padding: 10px 40px;
	text-transform: uppercase;
	border: 2px solid #f38f0c;
}

/* MASTERS======================================================== */
.masters{
	display:flex;
	align-items: center;
	justify-content:space-between;
	border-top: 1px solid #111111;
	padding:35px 0;
}
.master__nav{
	
	font-size: 18px;
	color:#fff;
	margin-left: 30px;
	text-decoration: none;
	
	opacity: 0.65;
	position: relative;
	transition: opacity .2s linear;
}


.master__nav:hover {
	
	opacity: 1;
}
.master__nav:after{
	content: "";
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	transition: opacity .2s linear;
}
.master__nav:hover:after{
	opacity: 1;
}
/* Button======================================================================== */
.btn--red{
	color:white;
	background-color: black;
	transition: background .3s linear;
}
.btn--white{
	color: black;
	background-color: white;
	transition: background .3s linear;

}

.btn--red:hover{
	background-color: #f38f0c;
	
}
.btn--white:hover{
	background-color: #f38f0c;
	
}
/* Features=========================================================================== */
.features{
	background-color: #111111;
}

.features__block{
	display: flex;
	flex-wrap: wrap;	
}
.features__item{
	width: 33.33333333%;
	text-align: center;
	padding: 40px 0;
}
.features__icon{
	margin-bottom: 20px;
}
.features__title{
	margin-bottom: 20px;
	color:#fff;

	text-transform: uppercase;
}
/* DOCUMENT============================================= */
.document{
	background: url(../Icon/lines.png) center no-repeat;
	background-size: cover;	
}
.document__inner{
	display: flex;
	flex-wrap: wrap;	 
}
.document__item{
	padding: 20px 20px;	
	width: 50%;
	text-align: center;	
}

.document__text{
	text-align: justify;
	font-size: 17px;
}

 /* WORKS========================================================================= */
 .works__shell{
	background-color: #111111;
 }
 .works{
	 display: flex;
	 flex-wrap: wrap;
	
 }
 .works__item{
	 width: 33.33333%;
	 overflow: hidden;
	 position: relative;
	 height: 300px;
	 border-bottom: 25px solid #111111;
	 border-right: 25px solid #111111;
}
.works__photo{
	position: absolute;
	width: 500px;
	height: 420px;
	
	z-index: 1;
	object-fit: cover;
	opacity: 0.30;
	overflow: hidden;
	-moz-transition: all 5s ease-out;
 	-o-transition: all 5s ease-out;
 	-webkit-transition: all 5s ease-out; 
	

}
.works__secion__title{
	margin: 0;
	font-size: 40px;
	display: flex;
	padding-top: 100px;
	margin-bottom: 90px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.works__title{
	font-size: 20px;
	padding-bottom: 120px;
	text-transform: uppercase;
}
.works__content{
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0, .5);
	z-index: 2;
	display: flex;
	flex-direction: column;
	padding: 25px 25px;
}

 .works__item:hover .works__photo{
	 opacity: 1;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	
} 
.works__button{
	width: 170px;
	height: 41px;
	display: inline-flex;
	vertical-align: top;
	font-size: 15px;
	border: 0;
	font-weight: 500;
	cursor: pointer;
	border-radius: 3px;
	font-family: inherit;
	text-decoration: none;
	padding: 10px 40px;
	text-transform: uppercase;
}
/* Footer=============================================================== */
.footers{
	background: url(../Icon/footer.png) center no-repeat;
	background-size: cover;
}
.footers__shel{
	padding: 30px;
	display: flex;
	justify-content: space-between;
}
.footers__item{
	
	font-size: 18px;
}
.google{
	width:100%; 
	height: 50%;
	margin-bottom: 30px;
}
.menu__icon{
	display: none;
}

/* Media========================================================================= */
@media(max-width:1250px){
	.container{
		max-width: 970px;
	}
	.document{
		font-size:14px ;
	}
	.intro__text{
		font-size: 22px;
	}	
	.nav{
		font-size: 12px;
	}
}
@media(max-width:992px){
	.container{
		max-width: 750px;
	}
	.features__item{
		width: 50%;
	}
	.intro__text{
		font-size: 18px;
	}
	.intro__footer{
		display: none;
	}
}
@media(max-width:767px){
	.container{
		max-width: none;
	}
	.features__item{
		width: 100%;
	}
	/* Burger menu================================================ */
	.menu__icon{
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after{
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after{
		content: "";
	}
	.menu__icon::before{
		top: 0;
	}
	.menu__icon::after{
		bottom: 0;
	}
	.menu__icon span{
		top: 50%;
		transform: scale(1) translate(0px,-50%);
	}
	.nav{
		display: block;
		position: fixed;	
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background-color:  rgba(0,0,0,0.9);
		padding: 100px 30px 30px 30px;	
	}
	.nav._active{
		left: 0;
	}

}